// Specific CSS for your home-page
// .card-home {
//   font-family: 'Roboto Condensed', sans-serif;
//   background: white;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   height: 100px;
//   width: 250px;
//   margin: auto;
//   border-radius: 8px;
//   border: 1px solid $light-gray;
//   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
//   transition: .3s ease;
//   bottom: 0px;
//   &:hover {
//     box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.10);
//     bottom: 5px;
//   };
//   & a {
//     color: black;
//     font-size: 20px;
//     // font-family: Poppins;
//   }
//   & a:hover {
//     text-decoration: line-through;
//   }
//   // & h4 {
//   //   color: $light-grey;
//   //   font-family: Raleway;
//   //   font-size: 16px;
//   // };
// }

.maintenance {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%), url(asset-path('group-52.png'));
  // background: url(asset-path('group-52.png'));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // padding: 125px 0;
  height: 700px;
  margin-top: -42px;
  margin-bottom: -42px;
  z-index: 10;
}

.card-maintenance {
  width: 450px;
  // height: 375px;
  height: fit-content;
  background: #191D22;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 40px #000000);
  margin-top: 140px;
  margin-bottom: 115px;
}

.title-maintenance {
  // position: absolute;
  width: 450px;
  height: 94.5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.logo-maintenance img {
  // position: absolute;
  width: 341.1px;
  height: 81px;
  margin-top: -10px;

  // left: 559.9px;
  // top: 1135.2px;
}

.text-maintenance {
  // position: absolute;
  width: 450px;
  height: 79.2px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #999999;
  margin-top: 40px;
  // margin-bottom: 5px;
  padding-right: 35px;
  padding-left: 35px;
}

.second-text-maintenance {
  // position: absolute;
  width: 450px;
  height: 79.2px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #999999;
  margin-top: 25px;
  margin-bottom: -8px;
  padding-right: 35px;
  padding-left: 35px;
}

.link-maintenance {
  // position: absolute;
  width: 450px;
  height: 42.3px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2F5FF;
  margin-top: 5px;
  margin-bottom: 15px;
  &:hover {
    color: #DC672D;
    text-decoration: none;
  }
}


.logo-background {
  background: url(asset-path('2-logo.png'));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 125px 0;
  height: 700px;
  margin: auto;
  z-index: 2;
}

/* Rectangle kaki */
.banner {
  // width: 1440px;
  width: 100%;
  height: 275px;
  left: 0px;
  top: 283px;
  margin-top: 94px;
  margin-right: 0px;
  z-index: 1;
}

.inner-text-home-log {
  margin-top: 22px;
}

.inner-banner-text-side {
  width: 228px;
  margin-left: 59px;
  margin-right: 59px;
}
.inner-banner-text-middle {
  width: 257px;
  margin-left: 59px;
  margin-right: 59px;
}

.inner-number {
  // font-family: Prata;
  font-family: "ButlerRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-decoration: underline;
}

.inner-description {
  // font-family: Prata;
  font-family: "ButlerRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.inner-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: underline;
  font-weight: lighter;
  &:hover {
    text-decoration: line-through;
    color: white;
  }
}

// .inner-text-home-log {
//   text-align: center;
//   display: flex;
//   justify-content: center;
// }
