/*MAIN CSS*/
.container-index-countries {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    font-size: 52px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

.index-countries-text-one {
  width: 1250px;
  // border: 1px solid white;
  margin: auto;
  padding: 10px;
  color: white;
  font-style: italic;
  & p {
    margin: 0px;
    font-family: 'Raleway';
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}

.search-map {
  & input {
    // width: 400px;
  }
  .btn {
    color: white;
  }
}

.container-index-countries-list {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    font-size: 52px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}
