/*MAIN CSS*/
.container-index-countries {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    font-size: 52px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

.index-countries-text-one {
  width: 1250px;
  // border: 1px solid white;
  margin: auto;
  padding: 10px;
  color: white;
  font-style: italic;
  & p {
    margin: 0px;
    font-family: 'Raleway';
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}

.container-index-countries-list {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    font-size: 52px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

.geocoder {
  margin-right: 230px;
}

.search-varieties {
  margin-left: 230px;
  & i {
    position: absolute;
  }
}

.icon {
    padding: 10px;
    min-width: 40px;
    color: #757575;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#query {
  width: 240px;
  height: 36px;
}

#map {
  padding: 3px;
  // background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
  // background: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  // background: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 5%, #FFFFAC 20%, #D1B464 45%, #5d4a1f 85%, #5d4a1f 100%);
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 4px;
}

.mapboxgl-canvas {
    position: absolute;
    padding: 2px;
    left: 0px;
    top: 0px;
}

// @media screen and (min-width: 640px)
// .loupe-input {
//     left: 7px;
//     width: 20px;
//     height: 20px;
// }
// .loupe-input {
//     display: inline-block;
//     vertical-align: middle;
//     speak: none;
//     fill: #757575;
//     top: 15px;
// }
