/*MAIN CSS*/
.container-index-countries {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

.index-countries-text-one {
  width: 1250px;
  // border: 1px solid white;
  margin: auto;
  padding: 10px;
  color: white;
  font-style: italic;
  & p {
    margin: 0px;
    font-family: 'Raleway';
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}

.container-index-countries-list {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    font-size: 52px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

.geocoder {
  margin-right: 230px;
}

.search-varieties {
  margin-left: 230px;
  & i {
    position: absolute;
  }
}

.icon {
    padding: 10px;
    min-width: 40px;
    color: #757575;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#query {
  width: 240px;
  height: 36px;
}

.mapboxgl-marker {
  color: black;
}

#map {
  // padding: 3px;
  // background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  // background-size: 150%;
  // animation: MoveBackgroundPosition 6s ease-in-out infinite;
  border-radius: 4px;
  background-color: #B0BDB0;
}
// @keyframes MoveBackgroundPosition {
//   0% {
//       background-position: 0% 50%
//   }

//   50% {
//     background-position: 100% 50%
//   }

//   100% {
//     background-position: 0% 50%
//   }
// }

.mapboxgl-canvas {
    position: absolute;
    padding: 2px;
    left: 0px;
    top: 0px;
}

// @media screen and (min-width: 640px)
// .loupe-input {
//     left: 7px;
//     width: 20px;
//     height: 20px;
// }
// .loupe-input {
//     display: inline-block;
//     vertical-align: middle;
//     speak: none;
//     fill: #757575;
//     top: 15px;
// }
