/*MAIN CSS*/
.container-index-varieties {
  margin-left: auto;
  margin-right: auto;
  & h1 {
    color: white;
    font-size: 52px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

.container-tree {
  // background: $black;
  // opacity: 0.955;
  // background: rgba(22, 31, 29, 0.5);
  background: rgba(51, 54, 51, 0.5);
  border-radius: 4px;
  // width: 1385px;
  margin: auto 32px;
  overflow-x: scroll;
  & .tree {
    padding: 10px;
  }
}

// .tree .first-list {
//   overflow-x: scroll;
//   // width: 1385px;
// }


/*TREE CSS*/
* {margin: 0; padding: 0;}

.tree ul {
  padding-top: 20px; position: relative;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
}
.tree li:first-child::after{
  border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.tree li a{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  // background-color: $kaki;
  background-color: $black;
  opacity: 0.955;
  font-family: 'Roboto Condensed';
  font-size: 12px;
  letter-spacing: 0.1em;
  display: inline-block;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  // background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
  background: #EAEFE7; color: $black; border: 1px solid $black; opacity: 0.955;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}

.hover {
  background: #EAEFE7 !important;
  color: $black !important;
  border: 1px solid $black !important;
  opacity: 0.955 !important;
}

// ABCD

.abcd {
  margin-top: 35px;
}

.letter h2 {
  font-family: "ButlerRegular", "Playfair Display", serif;
  color: white;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.names {
  font-family: 'Roboto Condensed';
  font-size: 16px;
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
