 .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 71px 15px;
  margin: auto;
 }

 .form-group {
  margin-bottom: 0px;
 }

 .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
 }

  input#user_email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

 input#user_password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

 }

.btn-lg {
  padding: 0px 16px;
  line-height: 1.5;
  border-radius: .3rem;
}

.form-control {
    display: block;
    width: 100%;
    // height: calc(1.5em + .75rem + 2px);
    // padding: .375rem .75rem;
    // font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
