.container-new-form-varieties {
  background: rgba(#121212, 0.6);
  border-radius: 4px;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

//CSS pour les cases dans edit-countries.scss

.new-variety-choice {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway';
}

.new-variety-choice-label {
  color: white;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 8px;
  font-family: 'Raleway';
  font-size: 22px;
}
#variety_productive_countries_attributes_0_address {
  margin-top: 20px;
  margin-bottom: 30px;
}

#variety_description_new {
  font-family: 'Raleway';
}
