.container-new-form-process {
  background: rgba(#121212, 0.6);
  border-radius: 4px;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

//CSS pour les cases dans edit-countries.scss

#process_description_new {
  font-family: 'Raleway';
}
