.container.container-tabs-country {
  margin: 0px auto;
  padding: 0px;
}

.container-country-one {
  // position: absolue;
  // left: 154px;
  // top: 193px;
  width: 510px;
  min-height: 471px;
  margin-top: 10px;
  background: rgba(#121212, 0.6);
  // background: $black;
  // opacity: 0.955;
  border-radius: 4px;
  font-family: 'Roboto Condensed';
  color: white;
  letter-spacing: 0.1em;
  // position: relative;
  z-index: 2;
}

.container-content-show-country-one {
  width: 440px;
}

.title-show-country {
  // width: 357px;
  border-bottom: 4px solid white;
}

.title-show-country h1 {
  font-family: 'GT Pressura Mono Regular', 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

.container-tab-show-country-one {
  border: 2px solid white;
  min-height: 328px;
  margin-top: 32px;
  margin-bottom: 35px;
}

.first-row-show-country {
  // border-bottom: 2px solid white;
}
.first-row-show-country-case-one {
  width: 255px;
  height: 51px;
  & p {
    margin: auto;
    font-weight: bold;
  }
}
.first-row-show-country-case-two {
  width: 200px;
  height: 51px;
  border-left: 2px solid white;
  & p {
    margin: auto;
  }
}

.second-row-show-country {
  border-bottom: 2px solid white;
}
.second-row-show-country-case-one {
  width: 255px;
  min-height: 105px;
  & p {
    margin: auto;
    font-weight: bold;
  }
}
.second-row-show-country-case-two {
  width: 200px;
  min-height: 105px;
  border-left: 2px solid white;
  & ul {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
  }
  & .name {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.1em;
  // text-decoration: underline;
  // font-weight: lighter;
    &:hover {
      // text-decoration: line-through;
      font-weight: bolder;
      font-style: italic;
      color: white;
    }
  }
}

.third-row-show-country {
  border-bottom: 2px solid white;
}
.third-row-show-country-case-one {
  width: 255px;
  min-height: 105px;
  & p {
    margin: auto;
    font-weight: bold;
  }
}
.third-row-show-country-case-two {
  border-left: 2px solid white;
  width: 200px;
  min-height: 105px;
  & ul {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
  }
  & li {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.1em;

  }
}

.fourth-row-show-country {
  border-bottom: 2px solid white;
}
.fourth-row-show-country-case-one {
  width: 255px;
  min-height: 105px;
  & p {
    margin: auto;
    padding: 12px;
    font-weight: bold;
  }
}
.fourth-row-show-country-case-two {
  border-left: 2px solid white;
  width: 200px;
  min-height: 105px;
  & ul {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
  }
  & .name {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.1em;
  // text-decoration: underline;
  // font-weight: lighter;
    &:hover {
      // text-decoration: line-through;
      font-weight: bolder;
      font-style: italic;
      color: white;
    }
  }
}

.last-row-show-country-case-one {
  width: 255px;
  height: 51px;
  & p {
    margin: auto;
    font-weight: bold;
  }
}
.last-row-show-country-case-two {
  width: 200px;
  height: 51px;
  border-left: 2px solid white;
  & p {
    margin: auto;
  }
}


.container-country-two {
  // position: absolute;
  // left: 877px;
  // top: 305px;
  width: 480px;
  // height: fit-content;
  height: 202px;
  margin: auto 0px;
  background: rgba(#121212, 0.6);
  // background: $black;
  // opacity: 0.955;
  border-radius: 4px;
  font-family: 'Roboto Condensed';
  color: white;
  letter-spacing: 0.1em;
}

// .container-content-show-country-two {
//   width: 315px;
// }

.container-tab-show-country-two {
  border: 2px solid white;
  min-height: 138px;
  width: 424px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.first-row-show-country-two {
  border-bottom: 2px solid white;
  height: 51px;
  & p {
    font-weight: bold;
    margin: auto;
    font-size: 16px;
  }
}

.second-row-show-country-two {
  // max-width: 380px;
  // min-height: 325px;
  // min-height: 340px;
  min-height: 91px;
  & p {
    padding: 12px;
    min-height: fit-content;
  }
}
