.container-process {
  // position: absolute;
  // left: 511px;
  // top: 174px;
  margin-top: 10px;
  // width: 620px;
  width: 1100px;
  // min-height: 635px;
  // min-height: 612px;
  // min-height: 605px;
  min-height: 580px;
  background: rgba(#121212, 0.6);
  border-radius: 4px;
  // font-family: 'Roboto Condensed';
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 2;
}

.container-content-show-process {
  width: 1000px;
  // width: 530px;
}

.title-show-process {
  // width: 357px;
  border-bottom: 4px solid white;
}

.title-show-process h1 {
  font-family: 'GT Pressura Mono Regular';
  // font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

.container-tab-show-process {
  border: 2px solid white;
  min-height: 328px;
  margin-top: 32px;
  margin-bottom: 35px;
}

.first-row-show-process {
  border-bottom: 2px solid white;
}
.first-row-show-process-case-one {
  width: 500px;
  // width: 255px;
  height: 51px;
  border-right: 2px solid white;
  & p {
    margin: auto;
    font-weight: bold;
  }
}
.first-row-show-process-case-two {
  width: 500px;
  // width: 272px;
  height: 51px;
  & p {
    margin: auto;
  }
}

.second-row-show-process {
  border-bottom: 2px solid white;
  height: 51px;
  & p {
    font-weight: bold;
    margin: auto;
    font-size: 16px;
  }
}

.third-row-show-process {
  // max-width: 380px;
  // min-height: 325px;
  // min-height: 340px;
  min-height: 320px;
  .container-show-process-description {
    margin: 15px;
    & div {
      min-height: fit-content;
      text-align: center;
      & a {
        color: #C4C4C4;
        text-decoration: none;
        background-color: transparent;
      }
      & img {
        width: 600px;
        height: auto;
      }
    }
  }
}



// .sun {
//   position: absolute;
//   // right: 0px;
//   right: 40px;
//   top: 135px;
//   & img {
//     z-index: 1;
//   }
// }
// .palm-tree {
//   position: absolute;
//   // left: -945px;
//   // height: 700px;
//   left: -945px;
//   top: 325px;
//   height: 590px;
//   & img {
//     z-index: 1;
//   }
// }
