<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-countries d-flex justify-content-center flex-column">
    <h1 class="text-center">À Propos</h1>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
      “The Black Barrel Atlas Coffee est le résultat de plusieurs années de recherches de deux Baristas.
      <br>Leur but était de réunir le plus d’informations possible sur une même plateforme et de la rendre interactive, pour permettre aux acteurs de ce milieu une visualisation rapide des ressources mises à disposition.
      <br>
      <br>La formation est une des motivations majeure à la conception de ce site, il devait donc être ludique et permettre une navigation efficace.
      <br>
      <br>Le voyage a toujours fait partie intégrante de l’éducation des auteurs, au moment de leur rencontre dans un coffee shop Bordelais, leur passion autour du café était la même, mais leur domaine de prédilection biens différents.
      <br>L’une souhaitant se tourner vers le web design et le développement,
      <br>l’un vers la formation et la gestion.
      <br>
      <br>En naviguant sur ce site, ils vous partagent leur univers, leur savoir et leur savoir-faire.
    </p>
    </div>
  </div>
</div>

