<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-countries d-flex justify-content-center flex-column">
    <h1 class="text-center">Contact</h1>
    <br>

  </div>
</div>
