<!-- <div class="logo-background" style="background-image: url(asset-path('logo.png'));"> -->
<div class="logo-background">
        <div class="row d-flex justify-content-center">
  <% if user_signed_in? %>
    <div class="banner" style='background: rgba(61, 79, 61, 0.85);'>
      <div class="container">
        <%#= image_tag 'logo.png', width: 700, id: 'logo' %>
          <div class="inner-text-home-log d-flex justify-content-center">
            <div class="inner-banner-text-side">
              <p class="inner-number">01</p>
              <p class="inner-description">Le référencement de toutes les variétés de cafés.</p>
              <br>
              <%= link_to "arbre généalogique", varieties_path, class: 'inner-link' %>
            </div>
            <div class="inner-banner-text-middle">
              <p class="inner-number">02</p>
              <p class="inner-description">Le référencement de toutes les variétés de cafés.</p>
              <br>
              <%= link_to "liste des pays producteurs", countries_path, class: 'inner-link' %>
            </div>
            <div class="inner-banner-text-side">
              <p class="inner-number">03</p>
              <p class="inner-description">Le référencement de toutes les variétés de cafés.</p>
              <br>
              <%= link_to "méthodes de séchage", drying_processes_path, class: 'inner-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="footer d-flex align-items-center flex-column">
  <!-- <div class="footer-logo mt-3"> -->
    <%= image_tag "logo-beige-png.png", alt: "coffee bean logo in beige" %>
  <!-- </div> -->
  <div class="footer-copyright mt-3">
    © 2020 BLACK BARREL COFFEE, INC. All rights reserved.
  </div>
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
</div>


<!-- TEST
<div class="col-sm-4">
  <div class="card-home my-3 justify-content-center">
    <div class="card-home-text text-center">
      <%#= link_to "MÉTHODES DE SÉCHAGE", drying_processes_path %>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card-home my-3 justify-content-center">
    <div class="card-home-text text-center">
      <%#= link_to "PAYS PRODUCTEURS", countries_path %>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card-home my-3 justify-content-center">
    <div class="card-home-text text-center">
      <%#= link_to "VARIÉTÉS", varieties_path %>
    </div>
  </div>
</div>
END TEST -->
