<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-processes d-flex justify-content-center flex-column">
    <h1 class="text-center">Méthodes De Séchage</h1>
    <br>
    <div class='d-flex justify-content-center align-items-center'>
      <% if policy(DryingProcess).create? %>
        <%= link_to "NOUVELLE MÉTHODE", new_drying_process_path, class: "btn btn-black" %>
      <% end %>
    </div>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
        “Le séchage de la cerise de café est une étape primordiale dans le processus de transformation, différentes méthodes existent s’adaptant aux ressources, aux intempéries ainsi qu’à l’organisation d’une ferme et d’un pays.”
      </p>
    </div>
    <br>

    <div class='index-container-process d-flex justify-content-around'>
      <div class='voie-seche'>
        <p>VOIE SÈCHE</p>
      </div>

      <div class='voie-humide'>
        <p>VOIE HUMIDE</p>
      </div>

      <div class='voies-hybrides'>
        <p>VOIES HYBRIDES</p>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class='d-flex justify-content-center align-items-center'>
    <% @drying_processes.each do |drying_process| %>
      <%= link_to drying_process.name, drying_process_path(drying_process), class: "btn btn-warning m-2" %>
    <% end %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
