.button-plus {

}
.btn-login {
  background-color: $black;
  opacity: 0.85;
  &:hover {
  opacity: 1;
  }
  & input {
    color: white;
    font-size: 18px;
    &:hover {
      color: white;
      font-size: 20px;
    }
  }
}

// background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
