.button-plus {

}
.btn-login {
  background-color: $black;
  opacity: 0.85;
  &:hover {
  opacity: 1;
  }
  & input {
    color: white;
    font-size: 18px;
    &:hover {
      color: white;
      font-size: 20px;
    }
  }
}


.btn-black {
  border-radius: 5px;
  // background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  &:hover {
    color: black;
    // background: linear-gradient(to top, #C9C6C6 0%,#FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: white;
    border: 1px solid black;
  }
}

.btn-white {
  border-radius: 5px;
  background: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  &:hover {
    color: white;
    background: black;
    border: 1px solid white;
  }
}

.btn-process {
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 8px 20px;
  height: 34px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 5px;
  &:hover {
    color: white;
    border: 2px solid #FFFFFF;
    font-weight: 600;
    height: 36px;
  }
}

.btn-edit {
  border-radius: 5px;
  background: $marker-green;
  border: 1px solid white;
  padding: 8px 16px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  &:hover {
    color: $marker-green;
    background: white;
    border: 1px solid $marker-green;
  }
}

// BUTTON DELETE
.button-delete {
  margin-top: 35px;
  margin-right: 35px;
  ol {
    list-style: none;
    width: 50px;
    li {
      width: 50px;
      a {
        position: relative;
        display: block;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        background: currentColor;
        color: white;
        font-size: 0;
        transition: 0.35s;
        &:before,
        &:after {
          position: absolute;
          top: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 2px;
          background: currentColor;
          content: "";
          transition: transform 0.35s;
        }
        &:before {
          transform: translate(-50%, -14px);
        }
        &:after {
          transform: translate(-50%, 14px);
        }
      }
      &:nth-child(n+1) {
        & a {
          height: 30px;
          background: transparent;
          border-top: 2px solid;
          border-bottom: 2px solid;

          &:before,
          &:after {
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &:nth-child(1) {
        &:hover a {
          border-color: transparent;
          &:before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}

// button {
//   position: relative;
//   display: block;
//   width: 50px;
//   height: 1px;
//   margin: 0 auto;
//   border: none;
//   cursor: pointer;
//   background: currentColor;
//   color: inherit;
//   font-size: 0;
//   transition: 0.35s;

//   &:before,
//   &:after {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     display: block;
//     width: 100%;
//     height: 1px;
//     background: currentColor;
//     content: "";
//     transition: transform 0.35s;
//   }

//   &:before {
//     transform: translate(-50%, -14px);
//   }

//   &:after {
//     transform: translate(-50%, 14px);
//   }
// }
// &:nth-child(n+13) {
//   & button {
//     height: 30px;
//     background: transparent;
//     border-top: 1px solid;
//     border-bottom: 1px solid;

//     &:before,
//     &:after {
//       top: 50%;
//       transform: translate(-50%, -50%);
//     }
//   }
// }
// &:nth-child(13) {
//   &:hover button {
//     border-color: transparent;

//     &:before {
//       transform: translate(-50%, -50%) rotate(45deg);
//     }

//     &:after {
//       transform: translate(-50%, -50%) rotate(-45deg);
//     }
//   }
// }
