.cookies-eu .cookies-eu-content-holder {
  color: white !important;
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  padding: 0 10px;
}
.cookies-eu {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 20px;
  left: 20px;
  line-height: normal;
  border-top: none;
  text-align: left;
  // background: #F2F2F2;
  background-color: $black;
  border-radius: 4px;
  opacity: .75;
  width: 350px;
  margin: 10px;
  padding: 20px;
}

.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
  color: $black !important;
  background: white;
  border: 1px solid white !important;
  font-size: 12px;
  /* font-weight: bold; */
  line-height: 20px;
  min-width: 26px;
  margin-right: 5px;
  padding: 2px 11px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  border: 0;
  outline: none;
  border-radius: 4px;
}
